[push]
  default = current

[mergetool "fugitive"]
  cmd = vim -f -c \"Gdiff\" \"$MERGED\"

[merge]
  tool = fugitive
  conflictstyle = diff3

[alias]
  patch = !git --no-pager diff --no-color

[credential]
[core]
  trustctime = false
  fileMode = false
  excludesfile = ~/.config/git/gitignore
  askpass = /usr/bin/ksshaskpass
  pager = delta --dark

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge --skip %f
  required = true

[gui]
  fontui = -family Ubuntu -size 9 -weight normal -slant roman -underline 0 -overstrike 0
  fontdiff = -family \"Ubuntu Mono\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
  tabsize = 2

[commit]
  template = ~/.config/git/commit.template

[interactive]
  diffFilter = delta --color-only

[github]
  user = rhabbachi

[url "https://aur.archlinux.org/"]
  insteadOf = aur://

[color]
  ui = true

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse

[fetch]
	prune = true

[pull]
	ff = only
[log]
	follow = true
[diff]
	renames = copies

[includeIf "gitdir:~/Desktop/med.tn/"]
  path = ~/Desktop/med.tn/.gitconfig

[includeIf "gitdir:~/Desktop/swiver/"]
  path = ~/Desktop/swiver/.gitconfig
