[user]
	name = Riadh Habbachi
	email = riadh.habbachi@gmail.com
[push]
	default = simple
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[merge]
	tool = fugitive
[webui]
	autoupdate = true
[alias]
	webui = !~/.git-webui/release/libexec/git-core/git-webui
[credential]
	helper = /usr/lib/git-core/git-credential-gnome-keyring
[core]
	trustctime = false
	fileMode = false
	excludesfile = ~/.config/git/gitignore
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge --skip %f
	required = true
[gui]
	fontui = -family Ubuntu -size 9 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Ubuntu Mono\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
	tabsize = 2
[commit]
	template = ~/.config/git/commit.template
[github]
	user = rhabbachi
[pager]
	log = "$GIT_CONTRIB"/diff-highlight/diff-highlight | less
	show = "$GIT_CONTRIB"/diff-highlight/diff-highlight | less
	diff = "$GIT_CONTRIB"/diff-highlight/diff-highlight | less
[interactive]
	diffFilter = "$GIT_CONTRIB"/diff-highlight/diff-highlight
[url "https://aur.archlinux.org/"]
  insteadOf = aur://
