[user]
	name = Riadh Habbachi
	email = habbachi.riadh@gmail.com
[push]
	default = simple
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[merge]
	tool = fugitive
[webui]
	autoupdate = true
[alias]
	webui = !/home/rhabbachi/.git-webui/release/libexec/git-core/git-webui
[credential]
	helper = /usr/lib/git-core/git-credential-gnome-keyring
[core]
	trustctime = false
	fileMode = false
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge --skip %f
	required = true
[gui]
	fontui = -family Ubuntu -size 9 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Ubuntu Mono\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
	tabsize = 2
[commit]
	template = /home/rhabbachi/.git-commit-template.txt
[github]
	user = rhabbachi
